* {
    margin: 0;
    padding: 0;
}
ul,ol {
    list-style: none;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
input,button {
    outline: none;
    border: none;
}
.floatFix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.floatFix {
    *zoom: 1;
}
.l {
    float: left;
}
.r {
    float: right;
}
a {
    text-decoration: none;
}